flow.json
[
    {
        "id": "6f84b747aee50ba9",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6920b98bad41d4a9",
        "type": "inject",
        "z": "6f84b747aee50ba9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Hello",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "c1adb6fd65c3b5b2"
            ]
        ]
    },
    {
        "id": "c1adb6fd65c3b5b2",
        "type": "debug",
        "z": "6f84b747aee50ba9",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "3a69d2cf570b5a3d",
        "type": "inject",
        "z": "6f84b747aee50ba9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Number",
        "payload": "2",
        "payloadType": "num",
        "x": 220,
        "y": 220,
        "wires": [
            [
                "c1adb6fd65c3b5b2"
            ]
        ]
    }
]